<ion-view view-title="Player">
    <ion-content>
        <audio id="player"></audio>
        <td-cards>
            <td-card ng-repeat="song in Library"
                     on-destroy="cardDestroyed('{{song.mediaid}}')" on-swipe-left="cardSwipedLeft('{{song.mediaid}}')"
                     on-swipe-right="cardSwipedRight('{{song.mediaid}}')"
                     on-partial-swipe="cardPartialSwipe(amt)" class="card-{{song.mediaid}}">
                <div class="item">
                    <!--<img src={{ArtistImage}}>-->
                    <h2>{{SongName}}</h2>

                    <p>{{ArtistName}}</p>
                </div>
                <div class="item item-image">
                    <img src={{Cover}}>
                </div>
            </td-card>
        </td-cards>
    </ion-content>
    <div class="tabs tabs-secondary tabs-icon-only">
        <div class="tab-item">
            <i class="icon ion-ios7-skipbackward" ng-click="previousSong()"></i>
        </div>
        <div class="tab-item">
            <i class="icon ion-pause" ng-click="playerControl()" ng-show="isPlaying"></i>
            <i class="icon ion-play" ng-click="playerControl()" ng-hide="isPlaying"></i>
        </div>
        <div class="tab-item">
            <i class="icon ion-ios7-skipforward" ng-click="nextSong()"></i>
        </div>
    </div>
</ion-view>